body{
    zoom: 90% !important;
overflow-x:hidden!important;
	/*color: white !important;*/
/*	background-image: url("../imgs/juris.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
     background-attachment: fixed !important;
    background-position: 50% 50% !important;*/
        /*overflow: hidden!important;*/
}
 /*
.row{
	font-size: 1.3em ;
	  
}

 .container{
 
 	    background: rgba(0, 0, 0, 0.77)!important;
 	  
 }

 .texto p{
 	font-size: 12px;
 }

 .di{
 	    display: inline-block;
 	    }
 
.bb{
	padding-left: 0!important;
    padding-right: 0!important;
	 
}
.bb a img{
	margin-top: 1em;
}
h6.subheader{
	font-size: 20px;
}

 .subheader{

       background: rgba(0, 0, 0, 0.62); 
    color: white !important;
    padding: .4em 1em !important;
 }*/